<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Motel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/motelbrasil.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div class="panel panel-default">
        <div th:insert="fragments/menu.html"></div>
        <div class="panel-heading">
            <p class="display-4">Atualizar Motel</p>
        </div>
        <div class="panel-body">
            <form th:object="${motel}" th:action="@{/atualizarMotel/{id} (id=${motel.id})}"  method="post">
                <div class="form-group">
                    <label>ID: </label>
                    <label type="text" th:text="*{id}"/>
                </div>
                <div class="form-group">
                    <label>Nome do Motel</label>
                    <input class="form-control" type="text" th:field="*{nome}"/>
                </div>
                <div class="form-group">
                    <label>Slogan</label>
                    <input class="form-control" type="text" th:field="*{slogan}"/>
                </div>
                <div class="form-group">
                    <label>Rua</label>
                    <input class="form-control" type="text" th:field="*{endereco.rua}"/>
                </div>
                <div class="form-group">
                    <label>Numero</label>
                    <input class="form-control" type="text"th:field="*{endereco.numero}"/>
                </div>
                <div class="form-group">
                    <label>Bairro</label>
                    <input class="form-control" type="text"th:field="*{endereco.bairro}"/>
                </div>
                <div class="form-group">
                    <label>Cidade</label>
                    <input class="form-control" type="text"th:field="*{endereco.cidade}"/>
                </div>
                <div class="form-group">
                    <label>Estado</label>
                    <input class="form-control" type="text"th:field="*{endereco.estado}"/>
                </div>
                <div class="form-group">
                    <label>UF</label>
                    <input class="form-control" type="text"th:field="*{endereco.unidadeFederativa}"/>
                </div>
                <div class="form-group">
                    <label>CEP</label>
                    <input class="form-control" type="text"th:field="*{endereco.cep}"/>
                </div>
                <div class="form-group">
                    <label>Ponto de Referência</label>
                    <input class="form-control" type="text"th:field="*{endereco.pontoReferencia}"/>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
    <div th:insert="fragments/rodape.html"></div>
</body>
</html>